*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Display', sans-serif;
}
html {
    scroll-behavior: smooth;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*---header---*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(128, 0, 128);
    background-position: center;
    background-size: cover;
    position: relative;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*---about-header---*/
.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(128, 0, 128);
    background-position: center;
    background-size: cover;
    position: relative;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*---projects-header---*/
.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(128, 0, 128);
    background-position: center;
    background-size: cover;
    position: relative;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*---skills-header---*/
.skills-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(128, 0, 128);
    background-position: center;
    background-size: cover;
    position: relative;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*---contact-header---*/
.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(128, 0, 128);
    background-position: center;
    background-size: cover;
    position: relative;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



/*---NavBar---*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1;
    height: 80px;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: lightblue;
    text-decoration: none;
    font-size: 23px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}



/*---text-box---*/
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-12%, -7%);
    text-align: left;
    margin-top: 30px;
}
.text-box h1{
    font-size: 80px;
    color: white;
}
.p1 {
    font-size: 50px;
    color: white;
    margin-top: 10px;
}
.p2{
    font-size: 30px;
    color: lightblue;
    margin-bottom: 10px;
}



/*---about-box---*/
.about-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-12%, -7%);
    text-align: left;
}
.about-box h2 {
    font-size: 80px;
    color: white;
}



/*---projects-box---*/
.projects-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-12%, -7%);
    text-align: left;
}
.projects-box h3 {
    font-size: 80px;
    color: white;
}



/*---skills-box---*/
.skills-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-12%, -7%);
    text-align: left;
}
.skills-box h4 {
    font-size: 80px;
    color: white;
}



/*---contact-box---*/
.contact-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-12%, -7%);
    text-align: left;
}
.contact-box h5 {
    font-size: 80px;
    color: white;
}
.contact-box #gitHubLogo {
    font-size: 125px;
    width: 10px;
    margin-top: 150px;
    margin-left: 50px;
}
.contact-box #linkedInLogo {
    font-size: 100px;
    width: 10px;
    margin-left: 350px;
}



/*---header-button---*/
.header-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 5px solid white;
    padding: 22px 44px;
    font-size: 23px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
    transition-duration: .5s;
}
.header-button:hover{
    background: black;
    transition-duration: .2s;
}
.header-button:active{
    background: transparent;
    transition-duration: .2s;
}
nav .fa{
    display: none;
}



/*---tablets---*/
@media only screen and (max-width: 1068px){
    /*.text-box h1{
        font-size: 35px;
    }
    .p1{
        font-size: 30px;
    }
    .p2{
        font-size: 20px;
    }

    .about-box h2{
        font-size: 35px;
    }

    .projects-box h3{
        font-size: 35px;
    }

    .skills-box h4{
        font-size: 35px;
    }

    .contact-box h5{
        font-size: 35px;
    }*/

    .header, .about-header, .projects-header, .skills-header, .contact-header{
        padding: 30% 30%;
    }

    .contact-box #gitHubLogo {
        font-size: 75px;
        width: 10px;
        margin-top: 125px;
        margin-left: 50px;
    }
    .contact-box #linkedInLogo {
        font-size: 75px;
        width: 10px;
        margin-left: 250px;
    }

    /*.header-button{
        padding: 17px 35px;
        font-size: 22px;
    }*/
    .header-button:hover{
        background: transparent;
        transition-duration: .1s;
    }
    .header-button:active{
        background: black;
        transition-duration: .1s;
    }

    nav{
        padding: 5% 10%;
    }
    nav img {
        width: 125px;
    }

    /*---SideNav---*/
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: black;
        height: 1000vh;
        width: 20%;
        top: 0;
        right: -20%;
        text-align: left;
        transition: .5s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }
    .nav-links ul{
        text-align: center;
        padding: 30px;
    }
    .nav-links ul li:hover::after{
        width: 90%;
    }
}

/*---mobile phones---*/
@media only screen and (max-height: 1000px){
    /*.text-box h1{
        font-size: 25px;
    }
    .p1{
        font-size: 20px;
    }
    .p2{
        font-size: 15px;
    }

    .about-box h2{
        font-size: 25px;
    }

    .projects-box h3{
        font-size: 25px;
    }

    .skills-box h4{
        font-size: 25px;
    }

    .contact-box h5{
        font-size: 25px;
    }*/

    .header, .about-header, .projects-header, .skills-header, .contact-header{
        padding: 70% 70%;
    }

    .contact-box #gitHubLogo {
        font-size: 50px;
        width: 10px;
        margin-top: 75px;
        margin-left: 50px;
    }
    .contact-box #linkedInLogo {
        font-size: 50px;
        width: 10px;
        margin-left: 150px;
    }

    /*.header-button{
        padding: 13px 27px;
        font-size: 15px;
        border: 3px solid white;
    }*/
    .header-button:hover{
        background: transparent;
        transition-duration: .1s;
    }
    .header-button:active{
        background: black;
        transition-duration: .1s;
    }
}



/*
.button-1 {
    display: inline-flex;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 50px 150px;
    font-size: 50px;
    background-image: url(images/about\ background\ 2.jpg);
    position: relative;
    cursor: pointer;
    right: 1%;
    bottom: -20%;
    transition-duration: .5s;
}
.button-1:hover {
    border: 3px solid white;
    background-image: url(images/about\ background\ 2.jpg);
    text-decoration: none;
    transform: scale(1.05);
    transition-duration: .3s;
}
.button-2 {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 50px 150px;
    font-size: 50px;
    background-image: url(images/about\ background\ 3.jpg);
    position: relative;
    cursor: pointer;
    right: 0%;
    bottom: -20%;
    transition-duration: .5s;
    text-decoration: none;
}
.button-2:hover {
    border: 3px solid white;
    background-image: url(images/about\ background\ 3.jpg);
    text-decoration: none;
    transform: scale(1.05);
    transition-duration: .3s;
}
.button-3 {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 50px 150px;
    font-size: 50px;
    background-image: url(images/about\ background\ 4.jpg);
    position: relative;
    cursor: pointer;
    right: -1%;
    bottom: -20%;
    transition-duration: .5s;
    text-decoration: none;
}
.button-3:hover {
    border: 3px solid white;
    background-image: url(images/about\ background\ 4.jpg);
    text-decoration: none;
    transform: scale(1.05);
    transition-duration: .3s;
}

---projects---
.projects {
    height: 50vh;
    width: 100%;
    background-color: lightblue;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

---resume---
.resume {
    height: 50vh;
    width: 100%;
    background-color: lightblue;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

---contact---
.contact {
    height: 50vh;
    width: 100%;
    background-color: lightblue;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}*/