*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Display', sans-serif;
}
html {
    scroll-behavior: smooth;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*---media---*/
@media only screen and (max-height: 867px) {
    .header, .about-header {
        padding: 30% 30%;
        min-height: 50vh;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .text-box h1{
        font-size: 18px;
    }
    .text-box p {
        font-size: 16px;
    }

    nav {
        padding: 5% 10%;
    }
    nav img {
        width: 125px;
    }
    /*---SideNav---*/
    .nav-links {
        position: absolute;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        transition: right .5s;
    }
    .nav-links.show ul li {
        display: block;
    }
    .nav-links.show {
        position: absolute;
        background: black;
        height: 1000vh;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: left;
        transition: .5s;
    }
    .nav-links.show ul {
        text-align: center;
        padding: 30px;
    }
    .nav-links.show ul li:hover::after {
        width: 90%;
    }
    .menu-icon {
        display: block;
        color: white;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 867px) {
    .header, .about-header {
        padding: 30% 30%;
        min-height: 50vh;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .text-box h1{
        font-size: 18px;
    }
    .text-box p {
        font-size: 16px;
    }

    nav {
        padding: 5% 10%;
    }
    nav img {
        width: 125px;
    }
    /*---SideNav---*/
    .nav-links {
        position: absolute;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        transition: right .5s;
    }
    .nav-links.show ul li {
        display: block;
    }
    .nav-links.show {
        position: absolute;
        background: black;
        height: 1000vh;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: left;
        transition: .5s;
    }
    .nav-links.show ul {
        text-align: center;
        padding: 30px;
    }
    .nav-links.show ul li:hover::after {
        width: 90%;
    }
    .menu-icon {
        display: block;
        color: white;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }
}

/*---header---*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(128, 0, 128);
    background-position: center;
    background-size: cover;
    position: relative;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*---about-header---*/
.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(128, 0, 128);
    background-position: center;
    background-size: cover;
    position: relative;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*---skills-header---*/
.skills-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(128, 0, 128);
    background-position: center;
    background-size: cover;
    position: relative;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*---projects-header---*/
.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(128, 0, 128);
    background-position: center;
    background-size: cover;
    position: relative;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*---NavBar---*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1;
    height: 80px;
    animation: fadeInAnimation ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: lightblue;
    text-decoration: none;
    font-size: 23px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/*---text-box---*/
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-12%, -7%);
    text-align: left;
    margin-top: 30px;
}
.text-box h1{
    font-size: 70px;
    color: white;
}
.p1 {
    font-size: 50px;
    color: white;
    margin-top: 10px;
    line-height: 2;
}
.p2{
    font-size: 30px;
    color: lightblue;
    margin-bottom: 10px;
    line-height: 2;
}

/*---about-box---*/
.about-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-12%, -7%);
    text-align: left;
}
.about-box h2 {
    font-size: 80px;
    color: white;
}

/*---projects-box---*/
.projects-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-12%, -7%);
    text-align: left;
}
.projects-box h3 {
    font-size: 80px;
    color: white;
}

/*---skills-box---*/
.skills-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-12%, -7%);
    text-align: left;
}
.skills-box h4 {
    font-size: 80px;
    color: white;
}